<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestor de eventos</title>
    <link rel="stylesheet"  href="{{ url_for('static',filename='styles/bulma.css') }}"/>
</head>

<!-- Scripts -->
<script src="static/scripts/js.cookie-2.1.4.min.js"></script>
<script src="static/scripts/main.js"></script>

<body>
    <section class="hero is-light is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>
</html>